p{font-size: 45px;
  text-align : center
 }
h1{font-size: 90px;
}
h2{font-size : 30px;
 }
img{border-radius : 20px;
   text-align : center}
ul{font-size : 20px;
  text-align: left;}
body{ font-family : Comic Sans MS}
.center{font-size: 40px;
 
       } 
a{padding-left : 20px;
 padding-right : 20px}
html{
  text-align: center
}