
h1{font-size: 3em;
}
h2{font-size : 2em;
 }
img{border-radius : 2em;
   text-align : center}
ul{font-size : 1em;
text-align: left;}

body{ font-family : Comic Sans MS;
text-align: center;}
.center{font-size: 2em;
 
       } 
a{padding-left : 1em;
 padding-right : 1em;
 
}
html{
  text-align: center
}

.banner {
  width: 98%;
}
.Pages{
  display: flex;
  justify-content: space-evenly;
}
.Page {

color :black
}
.Page>div>img{max-width: 4em;border-radius: 1em;}
.wiki {
  font-size: 70%;
}
.Wiki-Title{
 font-size:  1.5em;
 padding-top: 7em;
}